<div class="page-header">
  <%= link_to new_condo_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Condo
  <% end %>
  <h1>Listing condos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Street address</th>
            <th>Post code</th>
            <th>Phone number</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @condos) do |condo| %>
            <td><%= condo.name %></td>
            <td><%= condo.street_address %></td>
            <td><%= condo.post_code %></td>
            <td><%= condo.phone_number %></td>
            <td><%= link_to 'Show', condo, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_condo_path(condo), class: "btn btn-info" %></td>
        <td><%= link_to 'Destroy', condo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      <% end %>
    </tbody>
  </table>
</div>
